[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/bhanuka-viraj/eureka-server.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/bhanuka-viraj/config-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/bhanuka-viraj/api-gateway.git
